.marketing {
    width: 1400px;
    font-family: 'Poppins';
    margin-top: 1000px;
}
.marketing_block {
    display: inline-block;
    width: 1400px;
    margin-top: 55px;
    margin-left: 146px;
    margin-right: 146px;
    margin-bottom: 84px;
}
.marketing_block1, .marketing_block2, .marketing_block3 {
    display: inline-block;
    width: 348px; 
}
.marketing_block2, .marketing_block3 {
    margin-left: 25px;
}
.marketing_maintext {
    margin-left: 146px;
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;

}
.marketing_text {
    padding-left: 146px;
}
.block_text {
    font-size: 16px;
    color: #544837;
    padding-top: 25px;
    padding-bottom: 12px;
}
.block1 {
    font-weight: bold;
}
.block_text1_main, .block_text2_main, .block_text3_main {
    font-size: 24px;
    font-weight: bold;
}
.block_text2_main {
    color: #FF9900;
}
.marketing_pagination {
    left:  666px;
    width: 60px;
}

.marketing_pagination1, .marketing_pagination2, .marketing_pagination3 {
    display: inline-block;
    background-color: #EFEFEF;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    position: absolute;
  }
.marketing_pagination1 {
    margin-left:  666px;
  }
.marketing_pagination2 {
    margin-left:  685px;
    background-color: #FF9900;
  }
.marketing_pagination3 {
    margin-left:  705px;
  }
.span_marketing {
    font-weight: bold;
}
