.marketing {
    max-width: 1100px;
    font-family: 'Poppins';
    margin: 0 auto;
}
.marketing_block {
    margin-top: 55px;
    margin-bottom: 84px;
    font-size: 0;
    text-align: center;
}
.block_img {
    width: 100%;
}
.marketing_block_left, .marketing_block_center, .marketing_block_right {
    display: inline-block;
    max-width: 348px;
    margin: 0 1%;
    vertical-align: top;
}
.marketing_block_center, .marketing_block_right {
    margin-left: 25px;
}
.marketing_maintext {
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;

}
.block_text {
    font-size: 16px;
    color: #544837;
    padding-top: 25px;
    padding-bottom: 12px;
}
.block_text_main_left, .block_text_main_center, .block_text_main_right {
    font-size: 24px;
    font-weight: bold;
}
.block_text_main_center {
    color: #FF9900;
}
.marketing_pagination {
    text-align: center;
}

.marketing_pagination_left, .marketing_pagination_active, .marketing_pagination_right{
    display: inline-block;
    background-color: #EFEFEF;
    width: 16px;
    height: 16px;
    border-radius: 100%;
  }
.marketing_pagination_active {
    background-color: #FF9900;
  }
.span_marketing {
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    .block_text_main_left, .block_text_main_center, .block_text_main_right {
         font-size: 14px;
         margin-bottom: 5px;
     }
     .block_text {
         font-size: 10px;
     }
    }
    @media screen and (max-width: 350px){
    .block_text_main_left, .block_text_main_center, .block_text_main_right {
        font-size: 10px;

    }
    .block_text {
        font-size: 8px;
    }
}